.pill-containers > div{
    padding: 4px 8px;
    border-radius: 50px;
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    cursor: pointer;
}

.pill-containers .active{
    color: var(--guideline-7);
    border: 1px solid var(--guideline-6);
    background: var(--guideline-4);
}

.chat-containers > div{
    padding: 4px 12px;
}

.chat-containers > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.chat-containers > div > .active {
    background-color: var(--guideline-2);
}

.chat-containers > div > div > div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 12px;
    transition: background 0.2s;
}

.chat-containers > div > div > div:nth-child(2){
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

.chat-containers > div > div > div:nth-child(2).unseen {
    display: block;
    background-color: var(--guideline-6);
    color: var(--guideline-1);
}

.chat-containers > div:hover > div{
    background-color: var(--guideline-2);
}

.messages-container > div:nth-child(2) > div {
    background-color: var(--guideline-3);
}

#message-content{
    position: relative;
    z-index: 10;
    outline: none;
    overflow-wrap: break-word;
    user-select: text;
    color: white;
}

#message-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    color: #ddd;
}