<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Message Delivery</title>
</head>
<body>
    <div class="flex flex-1">
        <div class="flex flex-col w-1/5 flex-1">
            <div class="flex bg-zinc-100">

            </div>
            <div class="flex flex-col bg-zinc-500">

            </div>
        </div>
        <div class="flex flex-col flex-1">

        </div>
    </div>
</body>
</html>